@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400&display=swap');

body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
    flex: auto;
}

img {
    height: 100vh;
}

.sign-up-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: auto; 
}

.CTA {
    display: flex; 
    flex-direction: column;
    gap: 20px;
    max-width: 750px;
    margin: 40px;
    font-size: 30px;
}

.form-section {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.form-fields {
    display: flex;
    gap: 10px;
    flex: auto;
    flex-direction: column;
}

.form-and-heading {
    background-color: white;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
}

.buttons {
    margin: 20px;
    margin-left: 40px;
}

.header {
    font-size: 25px;
}

.row {
    display: flex;
    gap: 50px;
}
/* responsive design */
@media only screen and (max-width: 1150px) {
    .row {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
    }
    .form-fields {
        display: flex;
        gap: 30px;
        flex: auto;
        flex-direction: column;
    }
    img {
        display: none;
    }
}



/* form stuff */
label {
    display: block;
    font-size: 15px;
    font-weight: 400;
}
span {
    font-style: italic;
}

button {
    padding: 12px;
    background-color: #EF826C;
    color: white;
    border-radius: 4px;
    border: none;
    margin-bottom: 25px;
}

input {
    appearance: none;
    outline: none;
    width: 250px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-color: #ECEEF0;
    border-style: solid;
    height: 30px;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
}

input::placeholder {
    color: #fff;
}

input:focus {
    box-shadow: 0px 3px 3px 0px lightgray;
    border-width: 0.1rem;
}

input:required:invalid:focus {
    border-color: #D16662;
    background-color: #fff;
}

input:focus:valid {
    border-color: #8BC34A;
}

input:required:not(:placeholder-shown):invalid {
    background-color: rgba(185, 35, 38, 0.25);
  }
  
  input:required:valid {
    background-color: rgba(139, 195, 74, 0.25);
  }

  input:required:not(:placeholder-shown):valid:focus {
    background-color: rgba(139, 195, 74, 0.25);
  }
    
a {
    color: #EF826C;
}
