@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400&display=swap');

body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
}

img {
    height: 100vh;
}

.sign-up-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.CTA {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 750px;
    padding: 40px;
    font-size: 30px;
}

.form-section {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.form-fields {
    display: flex;
    gap: 50px;
}

.form-and-heading {
    background-color: white;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.buttons {
    padding: 20px;
}

.header {
    font-size: 25px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    display: block;
    font-size: 10px;
    font-weight: 400;
}
span {
    font-style: italic;
}

button {
    padding: 12px;
    background-color: #76B1D3;
    color: white;
    border-radius: 30px;
    border: none;
    margin-bottom: 10px;
}

